In [ ]:
# 크롤링 라이브러리 임포트
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
html = urlopen("https://auto.naver.com/company/main.nhn?mnfcoNo=23&modelType=OS&order=0&importYn=Y&lnchYY=-1&saleType=0&page=1")
bsObject = BeautifulSoup(html, "html.parser")

In [ ]:
bsObject.find_all("span",{"class":"box"})

In [ ]:
carNameList = []
carName = bsObject.find_all("span",{"class":"box"})

In [ ]:
carName[0].find("strong").text

In [ ]:
len(carName)

In [ ]:
for i in range(len(carName)):
    carNameTest = carName[i].find("strong").text
    carNameList.append(carNameTest)

In [ ]:
carNameList

In [ ]:
len(carNameList)

In [ ]:
bsObject.find_all("li",{"class","price new"})

In [ ]:
carPriceList = []
carPrice = bsObject.find_all("li",{"class","price new"})

In [ ]:
carPrice[0].find("span",{"class","cont"}).text

In [ ]:
for i in range(len(carPrice)):
    carPriceTest = carPrice[i].find("span",{"class","cont"}).text
    carPriceList.append(carPriceTest)

In [ ]:
carPriceList

In [ ]:
len(carPriceList)

In [ ]:
bsObject.find_all("li",{"class","mileage"})

In [ ]:
bsObject.find_all("span",{"class","ell"})

In [ ]:
bsObject.find_all("span",{"class","en"})

In [ ]:
carMileageList = []
carMileage = bsObject.find_all("span",{"class","en"})

In [ ]:
carMileage[0].text

In [ ]:
for i in range(len(carMileage)):
    carMileageTest = carMileage[i].text
    carMileageList.append(carMileageTest)

In [ ]:
carMileageList

In [ ]:
len(carMileageList)

In [ ]:
bsObject.find_all("span",{"class","ell"})

In [ ]:
CarEngine22 = bsObject.find_all("span",{"class","ell"})

In [ ]:
CarEngine22[5].text

In [ ]:
CarEngine22[3].text.replace("\t","").replace("\r","").replace("\n","")

In [ ]:
CarEngineList = []
CarEngine = bsObject.find_all("span",{"class","ell"})

In [ ]:
for i in range(len(CarEngine)):
    if i % 2 == 1:
        CarEngineTest = CarEngine[i].text.replace("\t","").replace("\r","").replace("\n","")
        CarEngineList.append(CarEngineTest)

In [ ]:
CarEngineList

In [ ]:
len(CarEngineList)

In [ ]:
bsObject.find_all("span",{"class","thmb"})[0].find("img").get("src")

In [ ]:
CarImgSrcList = []
CarImgSrc = bsObject.find_all("span",{"class","thmb"})

In [ ]:
CarImgSrc[0].find("img").get("src")

In [ ]:
for i in range(len(CarImgSrc)):
    CarImgSrcTest = CarImgSrc[i].find("img").get("src")
    CarImgSrcList.append(CarImgSrcTest)

In [ ]:
CarImgSrcList

In [ ]:
len(CarImgSrcList)

In [ ]:
bsObject.find_all("div",{"class","model_ct"})[0].find("img").get("src")

In [ ]:
len(bsObject.find_all("div",{"class","model_ct"}))

In [ ]:
carImageList = []
carImage = bsObject.find_all("div",{"class","model_ct"})

In [ ]:
for i in range(len(carImage)):
    carImageTest = carImage[i].find("img").get("src")
    carImageList.append(carImageTest)

In [ ]:
carImageList

In [ ]:
len(carImageList)

In [ ]:
carBrandList = []
for i in range(15):
    carBrandList.append("BMW")

In [ ]:
carBrandList

In [ ]:
len(carBrandList)

In [ ]:
carPriceList

In [ ]:
carPriceList[0].replace("억","").replace(",","")

In [ ]:
carPriceList[0].replace("억","").replace(",","")[0:4]

In [ ]:
carPriceList[0].replace("억","").replace(",","").find('~')

In [ ]:
carPriceList[0].replace("억","").replace(",","")[0:carPriceList[0].replace("억","").replace(",","").find('~')]

In [ ]:
carGradeList = []
for i in range(len(carPriceList)):
    carGrade = carPriceList[i].replace("억","").replace(",","")[0:carPriceList[i].replace("억","").replace(",","").find('~')]
    if int(carGrade) < 2000:
        carGradeList.append('D')
    elif int(carGrade) >= 2000 and int(carGrade) < 3000:
        carGradeList.append('C')
    elif int(carGrade) >= 3000 and int(carGrade) < 4000:
        carGradeList.append('B')
    elif int(carGrade) >= 4000:
        carGradeList.append('A')
    else:
        carGradeList.append('등급정보 없음')

In [ ]:
carGradeList

In [ ]:
len(carGradeList)

In [ ]:
final = []
final = {
    "자동차이름":carNameList,
    "브랜드":carBrandList,
    "가격":carPriceList,
    "등급":carGradeList,
    "엔진":CarEngineList,
    "연비":carMileageList,
    "이미지주소":carImageList
}

In [ ]:
final

In [ ]:
finalList = pd.DataFrame(final, columns = ["자동차이름","브랜드","가격","등급","엔진","연비","이미지주소"])

In [ ]:
finalList

In [ ]:
finalList.to_csv("BMWLIST1.csv")

In [ ]:
len(finalList)

In [ ]:
import cx_Oracle
import os

LOCATION = r"C:\instantclient_19_11"
os.environ["PATH"]=LOCATION + ";"+os.environ["PATH"]

In [ ]:
connect = cx_Oracle.connect("HR","1234","localhost")
cursor = connect.cursor()

In [ ]:
sql_str = 'SELECT * FROM product'
cursor.execute(sql_str)
rows = cursor.fetchall()

In [ ]:
for row in rows:
    sql = "INSERT INTO product(productName,productBrand,productPrice,productGrade,productEngine,productImageSrc) VALUES(:carNameList, :carBrandList, :carPriceList, :carGradeList, :CarEngineList, carImageList)"
    cursor.execute(sql)

In [ ]:
cursor.close()
connect.commit()
connect.close()

In [ ]:
#BMW
html = urlopen("https://auto.naver.com/company/main.nhn?mnfcoNo=23&modelType=OS&order=0&importYn=Y&lnchYY=-1&saleType=0&page=1")
bsObject = BeautifulSoup(html,"html.parser")

In [ ]:
productUrlList=[] # 자동차 상세 사이트 Url List
productUrl = bsObject.find_all("span",{"class":"thmb"})
for i in range(len(productUrl)):
    productUrlList.append("https://auto.naver.com/" + productUrl[i].find("a").get("href"))

In [ ]:
# 이름 크롤링하기
productNameList=[] # 자동차 이름 List
for i in range(len(productUrlList)):
    nameHtml = urlopen(productUrlList[i])
    nameBsObject = BeautifulSoup(nameHtml,"html.parser")
    productName = nameBsObject.find_all("div",{"class":"end_model"})
    productNameList.append(productName[0].find("h3").text)

In [ ]:
# 브랜드 크롤링하기
productBrandList=[] # 자동차 브랜드 List
for i in range(len(productUrlList)):
    brandHtml = urlopen(productUrlList[i])
    brandBsObject = BeautifulSoup(brandHtml,"html.parser")
    productBrand = brandBsObject.find("a",{"class":"brand"}).text
    productBrandList.append(productBrand)

In [ ]:
# 출시가 크롤링하기
productPriceList=[] # 자동차 출시가 List
for i in range(len(productUrlList)):
    priceHtml = urlopen(productUrlList[i])
    priceBsObject = BeautifulSoup(priceHtml,"html.parser")
    productPrice = priceBsObject.find_all("p",{"class":"price"})
    try:
        productPrice = productPrice[0].find("span",{"class":"cont"}).text
    except:
        productPrice = None
    productPriceList.append(productPrice)

In [ ]:
# 등급 정하기
# 2천만원 이하 D등급
# 2~3천만원 사이 C등급
# 3~4천만원 사이 B등급
# 4천만원 이상 A등급
productGradeList = []
for i in range(len(productUrlList)):
    try:
        productGrade = productPriceList[i].replace(",","")[0:4]
    except:
        productGrade = 0;
    if int(productGrade) < 2000 :
        productGradeList.append('D')
    elif int(productGrade) >= 2000 and int(productGrade) < 3000:
        productGradeList.append('C')
    elif int(productGrade) >= 3000 and int(productGrade) < 4000:
        productGradeList.append('B')
    elif int(productGrade) >= 4000:
        productGradeList.append('A')
    else :
        productGradeList.append('등급정보 없음')

In [ ]:
for i in range(len(productUrlList)):
    productGrade = productPriceList[i].replace("억","")[0:4]

In [ ]:
# 엔진 종류 
productEngineList=[]
for i in range(len(productUrlList)):
    engineHtml = urlopen(productUrlList[i])
    engineBsObject = BeautifulSoup(engineHtml,"html.parser")
    productEngine = engineBsObject.find_all("dl",{"class":"detail_lst"})
    productEngineList.append(productEngine[0].find_all("dd")[1].text)

In [ ]:
# 이미지 Src
productImgSrcList=[]
for i in range(len(productUrlList)):
    imgSrcHtml = urlopen(productUrlList[i])
    imgSrcBsObject = BeautifulSoup(imgSrcHtml,"html.parser")
    productImgSrc = imgSrcBsObject.find_all("div",{"class":"main_img"})
    productImgSrc = productImgSrc[0].find("img").get("src")
    productImgSrcList.append(productImgSrc)

In [ ]:
# 연비
productMileageList=[]
for i in range(len(productUrlList)):
    mileageHtml = urlopen(productUrlList[i])
    mileageBsObject = BeautifulSoup(mileageHtml,"html.parser")
    ProductMileage = mileageBsObject.find("dd",{"class":"en"}).text
    productMileageList.append(ProductMileage)

In [ ]:
arr=[]
arr={
    "상품명":productNameList,
    "브랜드명":productBrandList,
    "가격":productPriceList,

    "엔진 종류":productEngineList,
    "이미지 Src":productImgSrcList,
    "연비":productMileageList
}

In [ ]:
finalList = pd.DataFrame(arr, columns = ["상품명","브랜드명","가격","엔진 종류","이미지 Src","연비"])
finalList

In [ ]:
import cx_Oracle
import os

LOCATION = r"C:\instantclient_19_11"
os.environ["PATH"]=LOCATION + ";"+os.environ["PATH"]

connect = cx_Oracle.connect("HR","1234","localhost")
cursor = connect.cursor()

In [ ]:
for i in range(len(productNameList)):
    sql = "INSERT INTO product (PRODUCTNAME,PRODUCTBRAND,PRODUCTREGDATE,PRODUCTPRICE,PRODUCTENGINE,\PRODUCTIMAGESRC) VALUES('"+productNameList[i]+"','"+productBrandList[i]+"',sysdate,'"+productPriceList[i]+"','"+productEngineList[i]+"','"+productImgSrcList[i]+"')"

    cursor.execute(sql)
    cursor.close()
    connect.commit()
    connect.close()

In [ ]:
cursor.close()cursor.execute(sql)
connect.commit()
connect.close()

In [ ]:
connect = cx_Oracle.connect("HR","1234","localhost")
c = connect.cursor()

c.execute('select * from product')
c.fetchall()

In [ ]:
c.close()
connect.close()

In [ ]:
html = urlopen('https://www.saramin.co.kr/zf_user/jobs/hot100')
bsObject = BeautifulSoup(html,"html.parser")

In [ ]:
jobTitleList = []
jobTitle = bsObject.find_all("a",{"class","tit"})

In [ ]:
for i in range(len(jobTitle)):
    newJobTitle = jobTitle[i].find("span").text
    jobTitleList.append(newJobTitle)

In [ ]:
jobTitleList

In [ ]:
arr = []
arr = {
    "직업":jobTitleList
}

In [ ]:
finalList = pd.DataFrame(arr, columns = ["직업"])

In [ ]:
finalList

In [ ]:
import cx_Oracle
import os

LOCATION = r"C:\instantclient_19_11"
os.environ["PATH"]=LOCATION + ";"+os.environ["PATH"]

In [ ]:
connect = cx_Oracle.connect("HR","1234","localhost")
cursor = connect.cursor()

In [ ]:
for i in range(len(jobTitleList)):
    sql = "INSERT INTO job_list(job_name) VALUES('"+jobTitleList[i]+"')"
    cursor.execute(sql)

In [ ]:
    cursor.close()
    connect.commit()
    connect.close()

In [ ]:
html = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1')
bsObject = BeautifulSoup(html,"html.parser")

In [ ]:
bookImageList = []
bookImage = bsObject.find_all("img",{"class":"i_cover"})

In [ ]:
for i in range(len(bookImage)):
    newBookImage = bookImage[i].get("src")
    bookImageList.append(newBookImage)

In [ ]:
bookImageList

In [ ]:
nameHtml = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1')
nameBsObject = BeautifulSoup(nameHtml,"html.parser")

In [ ]:
bookNameList = []
bookName = nameBsObject.find_all("a",{"class":"bo3"})

In [ ]:
bookName

In [ ]:
for i in range(len(bookName)):
    newBookName = bookName[i].find("b").text
    newBookName = newBookName.replace(" ","")
    bookNameList.append(newBookName)

In [ ]:
bookNameList

In [ ]:
# bookNameList
nameHtml = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1&start=we')
nameBsObject = BeautifulSoup(nameHtml,"html.parser")

bookNameList = []
bookName = nameBsObject.find_all("a",{"class":"bo3"})

for i in range(len(bookName)):
    newBookName = bookName[i].find("b").text
    newBookName = newBookName.replace(" ","")
    bookNameList.append(newBookName)

In [ ]:
# 크롤링 라이브러리 임포트
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

# bookImageSrcList
html = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1&start=we')
bsObject = BeautifulSoup(html,"html.parser")

bookImageList = []
bookImage = bsObject.find_all("img",{"class":"i_cover"})

for i in range(len(bookImage)):
    newBookImage = bookImage[i].get("src")
    bookImageList.append(newBookImage)
    
# bookNameList
nameHtml = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1&start=we')
nameBsObject = BeautifulSoup(nameHtml,"html.parser")

bookNameList = []
bookName = nameBsObject.find_all("a",{"class":"bo3"})

for i in range(len(bookName)):
    newBookName = bookName[i].find("b").text
    newBookName = newBookName.replace(" ","")
    bookNameList.append(newBookName)

In [ ]:
arr = []
arr = {
    "도서명":bookNameList,
    "도서 이미지주소":bookImageList
}

In [ ]:
finalList = pd.DataFrame(arr, columns = ["도서명","도서 이미지 주소"])

In [ ]:
finalList

In [ ]:
# 크롤링 라이브러리 임포트
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

# bookImageSrcList
html = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1&start=we')
bsObject = BeautifulSoup(html,"html.parser")

bookImageList = []
bookImage = bsObject.find_all("img",{"class":"i_cover"})

for i in range(len(bookImage)):
    newBookImage = bookImage[i].get("src")
    bookImageList.append(newBookImage)
    
# bookNameList
nameHtml = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1&start=we')
nameBsObject = BeautifulSoup(nameHtml,"html.parser")

bookNameList = []
bookName = nameBsObject.find_all("a",{"class":"bo3"})

for i in range(len(bookName)):
    newBookName = bookName[i].find("b").text
    newBookName = newBookName.replace(" ","")
    bookNameList.append(newBookName)

arr=[]
arr={"도서명":bookNameList,"도서 이미지 주소":bookImageList}

finalList = pd.DataFrame(arr, columns = ["도서명","도서 이미지 주소"])

In [ ]:
finalList

In [ ]:
finalList.to_csv("bookList.csv")

In [ ]:
import cx_Oracle
import os

LOCATION = r"C:\instantclient_19_11"
os.environ["PATH"]=LOCATION + ";"+os.environ["PATH"]

In [ ]:
connect = cx_Oracle.connect("HR","1234","localhost")
cursor = connect.cursor()

In [ ]:
for i in range(len(bookNameList)):
    sql = "INSERT INTO example(bookName,bookUrl) VALUES('"+bookNameList[i]+"','"+bookImageList[i]+"')"
    cursor.execute(sql)

In [ ]:
cursor.close()
connect.commit()
connect.close()

In [ ]:
url = urlopen('https://www.naver.com/')
bsObject = BeautifulSoup(url, "html.parser")

mList = bsObject.find_all("a",{"class":"nav"})
print(mList,'\n',len(mList))

for i in range(len(mList)):
    print(mList[i].text)

In [ ]:
nList = bsObject.find_all("a",{"class":"thumb"})
print(nList,'\n',len(nList))

In [ ]:
newList = [] # ArrayList랑 똑같은 기능
for i in range(len(nList)):
    newList.append(nList[i].find("img")["alt"]) # List에 추가하는 기능
    
print(newList) # 새로운 List 출력

In [ ]:
urlA = urlopen('https://www.aladin.co.kr/shop/common/wbest.aspx?BranchType=1&start=we')
bsObject = BeautifulSoup(urlA, "html.parser")

aList = bsObject.find_all("div",{"class":"ss_book_list"})
print(aList, len(aList))

In [ ]:
newList = []
for i in range(len(aList)):
    newList.append(aList[i].find("b"))
print(newList)

In [ ]:
bList = bsObject.find_all("img",{"class":"i_cover"})
print(bList, len(bList))

In [ ]:
newList = []
for i in range(len(bList)):
    newList.append(bList[i].find("src"))
print(newList)